.container{
/*  add width and height to the container  */
  width:230px;
  height: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 50px;
  transform: translate(-50%,-50%);
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px #ccc;
}

/* Let's style our image */

img{
  width: 230px;
  height: 160px;
/*  add a transition to the container  */
  transition: all .5s ease-in-out;
}

/* Hover Effect */

.container:hover img{
/*  scale will increase the width and height of the image  */
/*  'rotate' will rotate your image   */

  transform: scale(1.2) rotate(-5deg);
}
